.navbar-div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 500;
    color: darkslategrey;
}
.home-div {
    color: darkslategray;
    align-content: center;
}
.carousel-item img {
    height: 700px;
}

.lead, .display-4, .contact-text {
    font-family: 'Rubik', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.contact-text {
    color: 'darkslategrey';
}

.services-title {
    font-family: 'Bangers', cursive;
    font-size: 50px;
}

.card-group {
    font-family: 'Rubik', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: large;
}

.contact-div {
    width: 80%;
    align-items: center;
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(91, 93, 92);
    color: whitesmoke;
}

.contact {
    margin-left: 10px;
}

.form-group {
    font-family: 'Rubik', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.btn {
    padding: 30px;
    font-family: 'Rubik', sans-serif;
}
.form-text {
    color: whitesmoke;
}

.services-div {
    margin-left: 10px;
    color: 'darkslategrey';
}
.services-title {
    text-align: center;
    color: 'darkslategrey';
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
}
.display-4 {
    text-align: center;
    color: 'darkslategrey';
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
}
.lead {
    font-size: 30px;
}
.welcome-message-1 {
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    position: relative;
    text-align: center;
    margin-bottom: 80px;
}
.welcome-message-2 {
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    position: relative;
    text-align: center;
}
.about-div .jumbotron {
    background-color: rgb(65, 71, 68);
    color: whitesmoke;
    font-size: larger;
}
.card-body {
    background-color: rgb(65, 71, 68);
    color: whitesmoke;
}
