.navbar-div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 500;
    color: darkslategrey;
}
.home-div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategray;
    align-content: center;
}
.carousel-item img {
    height: 700px;
}

.lead, .display-4, .contact-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-text {
    color: 'darkslategrey';
}

.welcome-message, .services-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.card-group {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-div {
    width: 80%;
    align-items: center;
}

.contact-div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: 'darkslategrey';    
}

.contact-form-div {
    margin-left: 10px;
    color: 'darkslategrey';
}

.services-div {
    margin-left: 10px;
    color: 'darkslategrey';
}

.about-div {
    background-color: lightgrey;
    background-image: url('./images/mic.jpg');
    color: 'darkslategrey'
}
.services-title {
    text-align: center;
    color: 'darkslategrey'
}
.display-4 {
    text-align: center;
    color: 'darkslategrey'
}
